@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px; 
    background-color: #210814;
    padding: 20px;
    align-items: right;
    z-index: 999;
    color:#020101;
}

.img {
  width: 240px;
  height: 40px;
  margin-left: 10px;
}

body {
  justify-content: center;
  background-image: url(fundo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.conteiner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  letter-spacing: 1.1px;
  font-weight: 600;
  color: #fdf9fd;
  background: #210814;
  background: linear-gradient(90deg, rgb(34, 18, 39) 0%, rgb(46, 26, 53) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(59, 23, 59, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: fixed;
  top: 750px;
  right: 760px;
  padding: 10px;
}

.btn {
  top: 800px;
  right: 600px;
}

p {
  display: inline-block;
  vertical-align: middle;
}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #board-container iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #210814;
    padding-top: 30px;
    color: #fdfcfc;
    text-align: left;
    font-family: 'Nunito', sans-serif;
  }