  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px; 
    background-color: #210814;
    padding: 20px;
    align-items: right;
    z-index: 999;
    text-align: center;
    color: #eaeaeb;
    display: inline-block;
  }

  .img {
    width: 400px;
    height: 40px;
    float: left;
    margin-left: 10px;
  }

  body {
    align-items: center;
    margin: 280px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(fundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
  }

  .back-link {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #070606;
    text-decoration: none;
    font-size: 24px;
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1.1px;
  }

  .image-size {
    width: 400px; 
    height: 300px;
    margin-bottom: 15px;
    margin-inline: 15px;
    margin-top: 15px;
  }

  .container {
    background-color: rgba(247, 243, 246, 0.911);
    border-radius: 20px;
    padding: 100px;
    text-align: center;
    display: flex;
    font-family: 'Nunito', sans-serif;
    flex-direction: column;
    align-items: center;
  }

  
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  
  .search-input {
    width: 300px;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-btn {
    background-color: #210814;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .search-btn:hover {
    background-color: #d1317e;
  }
  
  .search-container {
    margin-top: 40px; 
  }

  .center-text {
    margin-top: 20px;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #210814;
    padding-top: 30px;
    color: #fdfcfc;
    text-align: left;
  }